{% extends 'base.html' %}

{% block title %}
Curitibread - Loja
{% endblock %}

{% block content%}
   <table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Código de Barras</th>
            <th scope="col">Preço</th>
            <th scope="col">Descrição</th>
            <th scope="col">Opções</th>

        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
            {% for item in itens %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>R$ {{ item.price }},00</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">Mais Informações</button>
                        <button class="btn btn-outline btn-success">Comprar</button>
                    </td>
                </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}